.body-custom {
  background-color: #70818C
}

.navbar-custom {
  background-color: #003141;
}

.navbar-gradient-custom {
  /* background-image: linear-gradient(15deg, #003141 0%, #5c6972 100%); */
}

.h1-custom {
  color: #003141;
}

.h2-custom {
  color: black;
}

.table-custom {
  background-color: #70818C;
}

.b-custom {
  color: #fd924e;
}

.a-custom {
  color: rgb(3, 36, 167);
}

/*

body {
  background-color: #61767e;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar {
  background-color: #003141;
  left: 0;
  overflow: hidden; 
  position: fixed;
  top: 0;
  width: 100%;
}

#table-grid {
  margin-top: 100px;
}

#th-table-grid {
  font-size: 40px;
  color: black;
  padding: 0px 90px 5px;
}

#sub-th-table-grid {
  font-size: 30px;
  color: #d6dedf;
}

hr {
  border-color: #d6dedf;
}

#th-table-data {
  font-size: 20px;
  padding: 0px 150px 5px;
  padding-left: 0px;
}
*/
