.body-custom {
  background-color: #70818C
}

.navbar-custom {
  background-color: #003141;
}

.navbar-gradient-custom {
  /* background-image: linear-gradient(15deg, #003141 0%, #5c6972 100%); */
}

.h1-custom {
  color: #003141;
}

.h2-custom {
  color: black;
}

.table-custom {
  background-color: #70818C;
}

.b-custom {
  color: #fd924e;
}

.a-custom {
  color: rgb(3, 36, 167);
}