.body-custom {
  background-color: #70818C;
  padding-top: 110px;
}

.navbar-custom {
  background-color: #003141;
  height: 100px;
}

.h1-custom {
  color: #003141;
  font-size: 30px;
}


.h2-custom {
  color: black;
  font-size: 25px;
}

.b-custom {
  color: #fd924e;
}

.a-custom {
  color: rgb(3, 36, 167);
  font-size: 20px;
}

.th-custom {
  color: black;
  font-size: 20px;
}

.tr-custom {
  background-color: #00314143;
}

.td-custom {
  color: black;
  font-size: 20px;
}

.p-custom {
  color: white;
  font-size: 20px;
  margin-right: 50px;
}